.header {
  // positioning
  position: relative;

  // box model
  padding: 20px;
  min-height: 90vh;
  height: 100vh;
  max-height: 720px;

  // visual
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(246,133,133,1) 16.3%, rgba(172,131,241,1) 90%);

  @include atTablet {
    // box model
    max-height: 1024px;
  }

  @include atDesktopS {
    // box model
    max-height: 768px;
  }

  @include atDesktopM {
    // box model
    max-height: 900px;
  }

  @include atDesktopL {
    // box model
    max-height: 1080px;
  }
}

.header__top {
  // box model
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  // positioning
  position: relative;
  z-index: 5;

  // box model
  width: 64px;
}

.header__logo svg {
  // box model
  height: 100%;
  width: 100%;
}

.header__nav {
  // positioning
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;

  // box model


  // visual
  transition: all 0.25s ease-out;
}

.header__nav--closed {
  // positioning
  transform: translateY(-110%);
}

.header__menu-button {
  // positioning
  position: relative;
  z-index: 5;

  // box model
  padding: 0;

  // typography
  font-size: 0;

  // visual
  background-color: transparent;
  cursor: pointer;

  // border
  border: none;
}
