.header {
  // positioning
  position: relative;
}

.header__top {

}

.header__logo {

}

.header__logo svg {

}

.header__nav {
  // positioning
  position: absolute;
  top: 0;

  // visual
  transition: all 0.25s ease-out;
  border: 2px dashed fuchsia;
}

.header__nav--closed {
  // positioning
  transform: translateY(-110%);
}

.header__menu-button {
  // positioning
  position: relative;

  // box model
  padding: 0;

  // typography
  font-size: 0;

  // visual
  background-color: transparent;
  cursor: pointer;

  // border
  border: none;
}

// background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(246,133,133,1) 16.3%, rgba(172,131,241,1) 90% );
