

// Vars
$barHeight: 3px;
$barWidth: 30px;
$barColor: $light;
// $buttonWidth: 128px;
// $buttonHeight: 128px;


.menu-button {
  // positioning
  position: relative;

  // box model
  height: $barHeight * 7;
  width: $barWidth;

  // visual
  cursor: pointer;
}


.menu-button:before {
  content: "";

  // positioning
  position: absolute;
  transform-origin: 50% 50%;
  left: 0;
  top: 0;

  // box model
  height: $barHeight;
  width: $barWidth;

  // visual
  background-color: $barColor;

  // animation
  animation-name: open-top;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.menu-button__middle {
  content: "";

  // positioning
  position: absolute;
  transform-origin: 50% 50%;
  left: 0;
  top: $barHeight * 3;

  // box model
  height: $barHeight;
  width: $barWidth;

  // visual
  background-color: $barColor;
  opacity: 1;
  transition-delay: 0.25s;
}

.menu-button::after {
  content: "";

  // positioning
  position: absolute;
  transform-origin: 50% 50%;
  left: 0;
  top: $barHeight * 6;

  // box model
  height: $barHeight;
  width: $barWidth;

  // visual
  background-color: $barColor;

  // animation
  animation-name: open-bottom;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.menu-button--close::before {
  // animation
  animation-name: close-top;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.menu-button--close .menu-button__middle {
  // visual
  opacity: 0;
}

.menu-button--close::after {
    // animation
    animation-name: close-bottom;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}


// Menu button animations
@keyframes close-top {
  0% {
    transform: none;
  }
  
  50% {
    transform: translate(0, $barHeight * 3);
  }
  
  100% {
    transform: translate(0, $barHeight * 3) rotate(45deg);
  }
}

@keyframes open-top {
  0% {
    transform: translate(0, $barHeight * 3) rotate(45deg);
  }
  
  50% {
    transform: translate(0, $barHeight * 3);
  }
  
  100% {
    transform: none;
  }
}

@keyframes close-bottom {
  0% {
    transform: none;
  }
  
  50% {
    transform: translate(0, -$barHeight * 3);
  }
  
  100% {
    transform: translate(0, -$barHeight * 3) rotate(-45deg);
  }
}

@keyframes open-bottom {
  0% {
    transform: translate(0, -$barHeight * 3) rotate(-45deg);
  }
  
  50% {
    transform: translate(0, -$barHeight * 3);
  }
  
  100% {
    transform: none;
  }
}
