

// Vars
$buttonWidth: 128px;
$buttonHeight: 128px;


.menu-button {
  // positioning
  position: relative;

  // box model
  height: $buttonHeight;
  width: $buttonWidth;

  // border: 2px dashed fuchsia;
}

.menu-button__top,
.menu-button__middle,
.menu-button__bottom {
  // positioning
  position: absolute;
  transform-origin: center center;
}

.menu-button__top {
  // animation
  animation-name: open-top;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.menu-button__bottom {
  // animation
  animation-name: open-bottom;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.menu-button__middle {
  // visual
  transition-delay: 0.25s;
}

.menu-button--close {
  .menu-button__top {
      // animation
      animation-name: close-top;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
  }

  .menu-button__bottom {
      // animation
      animation-name: close-bottom;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
  }

  .menu-button__middle {
    // visual
    opacity: 0;
  }
}

// Menu button animations
@keyframes close-top {
  0% {
    transform: none;
  }
  
  50% {
    transform: translate(0, 27px);
  }
  
  100% {
    transform: rotate(-45deg) translate(0, 27px);
  }
}

@keyframes open-top {
  0% {
    transform: rotate(-45deg) translate(0, 27px);
  }
  
  50% {
    transform: translate(0, 27px);
  }
  
  100% {
    transform: none;
  }
}

@keyframes close-bottom {
  0% {
    transform: none;
  }
  
  50% {
    transform: translate(0, -27px);
  }
  
  100% {
    transform: rotate(45deg) translate(0, -27px);
  }
}

@keyframes open-bottom {
  0% {
    transform: rotate(45deg) translate(0, -27px);
  }
  
  50% {
    transform: translate(0, -27px);
  }
  
  100% {
    transform: none;
  }
}
