<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="style.css")

        title MSP Boilerplate

    body
        header.header
            .header__top
                a.header__logo(href="#")
                    img(src="./img/logo.svg", alt="Logo")

                nav.header__nav.header__nav--closed
                    ul.main-nav
                        li.main-nav__item: a.main-nav__link(href="") Menu Item #1
                        li.main-nav__item: a.main-nav__link(href="") Menu Item #2
                        li.main-nav__item: a.main-nav__link(href="") Menu Item #3
                        li.main-nav__item: a.main-nav__link(href="") Menu Item #4
                        li.main-nav__item: a.main-nav__link(href="") Menu Item #5

                .header__menu-button
                    button.menu-button(role="button") ≡
                        .menu-button__middle
                                .helll:dafsd

            .header__content
                h1.header__title My Standard Project Boilerplate
                p.header__description This boilerplate can be used for fast site projects deployment
                a.button(href="#") Button

        main
            section
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio laborum magni dolores voluptatem quod tempora reiciendis assumenda animi minima harum ipsam sed, magnam amet consequuntur, et fugiat rem, dicta dignissimos.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio laborum magni dolores voluptatem quod tempora reiciendis assumenda animi minima harum ipsam sed, magnam amet consequuntur, et fugiat rem, dicta dignissimos.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio laborum magni dolores voluptatem quod tempora reiciendis assumenda animi minima harum ipsam sed, magnam amet consequuntur, et fugiat rem, dicta dignissimos.

        footer.footer
        
        script(src="scripts.js")
